.modal {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
    z-index: 2;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal_content {
    padding: 5% 10% 5% 10%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;
    background-color: white;
}

.modal_content > input {
    margin: 5%;
}


.backCross {
    background-color: white;
    top: 0;
    right: 10px;
    position: absolute;
    transition: all ease-in-out 0.2s;
    border-radius: 5px;
}

.backCross::after {
    font-size: 26px;
    padding: 3px 10px;
    display: inline-block;
    content: "\00d7";
}

.backCross:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}