.profile {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 100%;
}

.navbar {
    grid-row: 1 / 2;
    grid-column: 1 / 7;
}

.toggle {
    padding-left: 5%;
    font-size: 200%;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    transition: all 0.2s ease-in-out;
    z-index: 1;
    pointer-events: none;
}


.toggleInner {
    pointer-events: all;
    transition: all 0.2s ease-in-out;
}

.toggleInner:hover {
    color: rgb(196, 220, 212);
    cursor: pointer;
}


.anc {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease-in-out;
}

.anc:hover {
    color: rgb(175, 175, 175)
}