.backCross {
    background-color: white;
    transition: all ease-in-out 0.2s;
    border-radius: 7px;
}
.backCross::after {
    font-size: 26px;
    display: inline-block;
    content: "\00d7";
}

.backCross:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

.signUpTitle {
    margin: 5%;
    font-weight: bold;
    display: flex;
    justify-content: center;
}