.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 6000px) {
    .navbar {
        font-size: 80px;
    }
}

@media screen and (max-width: 2900px) {
    .navbar {
        font-size: 40px;
    }
}

@media screen and (max-width: 1800px) {
    .navbar {
        font-size: 35px;
    }
}


@media screen and (max-width: 1500px) {
    .navbar {
        font-size: 24px;
    }
}

@media screen and (max-width: 1000px) {
    .navbar {
        font-size: 18px;
    }
}

@media screen and (max-width: 700px) {
    .navbar {
        font-size: 12px;
    }

    .logo, .log_in_logo {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .navbar {
        font-size: 7px;
    }
}

.inner_link > a {
    text-decoration: none;
    color: black;
    transition: all ease-in-out 0.3s;
    letter-spacing: 0.07em;
    font-weight: 500;
}

.inner_link > a:hover {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.logo {
    width: 5%;
}

.logo img {
    transition: all ease-in-out 0.2s;
}

.logo:hover img {
    transform: rotate(30deg);
}

.log_in_logo {
    width: 10%;
    height: 85%;
    background-image: url("C:\Users\miham\Desktop\Prog\Projects\PsychoLearn\psycholearn-front\src\Images\cursivelogo.svg");
    transition: all ease-in-out 0.2s;
    background-repeat: no-repeat;
    background-position: center;
}

.log_in_logo:hover {
    background-image: url("C:\Users\miham\Desktop\Prog\Projects\PsychoLearn\psycholearn-front\src\Images\LoginLogo2.svg");
    cursor: pointer;
    background-repeat: no-repeat;
}


